{% load static %}
<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/jpg" href="/imagenes/Logo.png">
    <title>LarrainShop</title>

</head>

<body class="fondo">
    <nav>
        <div class="logo">
            <a href="{% url 'carrito' %}"><img src="{% static 'img/carrito.png' %}" alt="Logo" height="50px"></a>
        </div>
        <div class="logo">
            <a href="{% url 'usuario' %}"><img src="{% static 'img/usuario.png' %}" alt="Logo" height="50px"></a>
        </div>
        <ul class="nav-links">
            <li class="navegacion">
                <a href="{% url 'principal1' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'productos' %}">Productos</a>
            </li>
            <li>
                <a href="{% url 'ofertas' %}">Ofertas</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="frase">
            LarrainShop Ofertas!!!
        </h1>
        <br>

    </div>

    <br>
    <br>
    <br>

    <article>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
                <div>
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/fe.jpg' %}" class="card-img-top" alt="vegetariana">
                        <div class="card-body">
                            <h5 class="card-title">Smartphone Galaxy S20 FE</h5>
                            <p>valor antes $549.990</p>
                            <li>Cámara frontal: 32MP</li>
                            <li>Tamaño de la pantalla: 6.5 pulgadas</li>
                            <li>Memoria interna: 128GB</li>
                            <li>Núcleos del procesador: Octa Core</li>
                            <li>Memoria expandible: Sobre 512GB</li>
                            <br>
                            <h1>valor ahora $499.990</h1>
                            <br>
                            <a href="{% url 'carrito' %}"><input type="button" class="button" value="Comprar" /></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/bmax.jpg' %}" card-img-top" alt="Premium">
                        <div class="card-body">
                            <h5 class="card-title">Ntbk Bmax 2 En 1</h5>
                            <p> valor antes $ 699.990</p>
                            <li>Disco duro HDD: No tiene</li>
                            <li>Profundidad: 17</li>
                            <li>Unidad óptica: No</li>
                            <li>Tamaño de la pantalla: 11.6 pulgadas</li>
                            <li>Memoria RAM: 8GB</li>
                            <br>
                            <h1> valor $349.990</h1>
                            <br>
                            <a href="{% url 'carrito' %}"><input type="button" class="button" value="Comprar" /></a>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/tv.jpg' %}" class="card-img-top" alt="pizzas del mundo">
                        <div class="card-body">
                            <h5 class="card-title">LED 58" RLED-L58D1200A 4K Ultra HD</h5>
                            <p>valor antes $ 319.990 </p>
                            <br>
                            <li>Tamaño de la pantalla: 58 pulgadas</li>
                            <li>Resolución: 4K Ultra HD</li>
                            <li>Tecnología: LED</li>
                            <li>Conexión Bluetooth: Sí</li>
                            <li>Entradas USB: 2</li>
                            <br>
                            <h1>valor $289.990</h1>
                            <br>
                            <a href="{% url 'carrito' %}"><input type="button" class="button" value="Comprar" /></a>
                        </div>
    </article>

    <h1 class="margen"></h1>
    <br>

    <h5 class="espacio4"></h5>
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                    <h1>Sobre LarrainShop</h1>
                    <p>Somos una empresa dedicada a buscar las mejores ofertas del extrajeros para asi poder vender
                        los productos a muy buenos precios </p>

                </div>
                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="row">
                        <label>Siguenos en Facebook
                            <p>LarrainShop</p>
                        </label>
                    </div>
                    <div class="row">
                        <label>Siguenos en instagram
                            <p>@LarrainShop</p>
                        </label>
                    </div>
                    <div class="row">
                        <label>Siguenos en twitter
                            <p>@LarrainShop1</p>
                        </label>
                    </div>

                </div>
                <div class="colum3">
                    <h1>Contacto</h1>

                    <div class="row2"></div>
                    <label> Ubicacion: La cisterna
                        Chile
                        artura pratt
                        local #7383
                    </label>
                    <div class="row2"></div>
                    <label> Contacto: +569 4563 2897
                    </label>
                    <div class="row2"></div>
                    <label>Correo: larrainshop18@gmail.com
                    </label>
                </div>
            </div>

            <h1 class="margen"></h1>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>